{
@model WebListContato.Domain.ViewModels.UsuarioViewModel
}

@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    @Html.ValidationSummary()
    <div class="text-center">
        <h1 class="display-4">Login</h1>
        <div class="mb-3" align="center">
            <form method="post" asp-controller="login" asp-action="login">
                <table border="0" cellpadding="2" cellspacing="2">
                    <tr>
                        <td>Username</td>
                        <td>
                            @Html.TextBoxFor(m => m.Login)
                            @Html.ValidationMessageFor(m => m.Login)
                        </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>
                            @Html.TextBoxFor(m => m.Senha)
                            @Html.ValidationMessageFor(m => m.Senha)
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" value="Login"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
}
